.logo {
  font-weight: bold;
  font-style: italic;
  font-family: "Lobster Two", Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: var(--ion-color-primary);
  text-shadow: 1px 1px var(--ion-color-dark);
}
